includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/config

    # 忽略特定錯誤類型
    ignoreErrors:
        # 忽略缺少的泛型類型
        - identifier: missingType.generics
